<div class="container-general">
  <div class="container-header">
    <div>
      <button onclick="goToCart()">Ver carrito</button>
      <button onclick="goToUserEdit()">Propiedades usuario</button>
    </div>

      <h1 style="margin-left: -100px;">Producto</h1>
    <button onclick="logout()">Cerrar sesión</button>
  </div>
{{#if user.name}}
  <div class="container-personal-info">
  <h2>Bienvenido a tu perfil ({{ user.name}})</h2>
  <p>{{user.name}}</p>
  <p>{{user.email}}</p>
  <p>{{user.age}}</p>
  </div>
{{/if}}
{{#if user.full_name}}
  <div class="container-personal-info">
  <h2>Bienvenido a tu perfil ({{ user.full_name}})</h2>
  <p>{{user.full_name}}</p>
  <p>{{user.email}}</p>
  <p>{{user.age}}</p>
  </div>
{{/if}}
  <section>
    <div id="products-list" class="contianer-section-products-list">
    {{#each products$}}
      <div class="container-card-product" id="product-{{this.id}}" >
        <div class="box-card-product">
          <div class="contianer-tags">
            <div class="tag-id">
              <p>ID {{this.id}}</p>
            </div>

            <div class="tag-status">
              <p>Status {{this.status}}</p>
            </div>
          </div>

          <div class="container-img">
            <img src="{{this.thumbnails}}" alt="imagen {{this.title}}" />
          </div>
          <div class="container-stock">
            <p style="margin: 0px"> <b>Stock:</b> {{this.stock}}</p>
          </div>
          <h1>{{this.category}}</h1>
          <h2>{{this.title}}</h2>

          <p> <b>Description:</b> {{this.description}}</p>
          <p> <b>Code:</b> {{this.code}}</p>
          <p> <b>Price:</b> ${{this.price}}</p>
          <button class="open-product-page" onclick="goToProduct('{{this.id}}')">Abrir Producto</button>
          <button class="add-to-cart-button" id="idCart" data-cart-id="{{../user.cart}}">Agregar al carrito</button>
        </div>
      </div>
    {{/each}}
    </div>
  </section>
  {{#if totalPages}}
  <div class="pagination">
    {{#if prevPage}}
      <button class="pagination-button" onclick="goToPage({{prevPage}})">&laquo;</button>
    {{/if}}
  <a class="number-page">{{currentPage}}</a>
    {{#if nextPage}}
      <button class="pagination-button" onclick="goToPage({{nextPage}})">&raquo;</button>
    {{/if}}
  </div>
  {{/if}}
</div>

<script src="/js/home.js"></script>